:80, :443 {
	root /opt/hsreplay.net/source
	# tls self_signed
	gzip
	rewrite /robots.txt /static/robots.txt

	proxy / 127.0.0.1:80 {
		transparent
		except /static /favicon.ico
	}

	#realip {
	#	header CF-Connecting-IP
	#	from cloudflare
	#}
}
