# development tools
q
requests

# AWS tools
awscli
boto3

# Other cli tools
httpie
pgcli

# tests
fakeredis
flake8
flake8-quotes
isort
moto
pytest
pytest-django
tox
yapf

# Django utilities
django-debug-toolbar
django-sslserver

# runserver_plus and its dependencies
django-extensions
pyOpenSSL
Watchdog
Werkzeug
